<!DOCTYPE html>
<html lang="en">


<!-- blog.html  21 Nov 2019 03:50:31 GMT -->
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title> Teacher Dashboard</title>
  <!-- General CSS Files -->
  <link rel="stylesheet" href="~/Dashassets/css/app.min.css">
  <!-- Template CSS -->
  <link rel="stylesheet" href="~/Dashassets/css/style.css">
  <link rel="stylesheet" href="~/Dashassets/css/components.css">
  <link rel="stylesheet" href="~/Dashassets/bundles/fullcalendar/fullcalendar.min.css">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="~/Dashassets/css/custom.css">
  <link rel='shortcut icon' type='image/x-icon' href='~/Dashassets/img/favicon.ico' />
  <link rel="stylesheet" href="~/StyleSheet.css" />
</head>

<body>
  <div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar sticky">
        <div class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg
									collapse-btn"> <i data-feather="align-justify"></i></a></li>
            <li><a href="#" class="nav-link nav-link-lg fullscreen-btn">
                <i data-feather="maximize"></i>
              </a></li>
          </ul>
        </div>
      
      </nav>
      <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="index.html"> <img alt="image" src="~/Dashassets/img/logo.png" class="header-logo" /> <span
                class="logo-name">Teacher Dashboard</span>
            </a>
          </div>
          <ul class="sidebar-menu">
            <li class="dropdown ">
              <a asp-action="Index" class="nav-link"><i class="fas fa-id-card-alt"></i><span>Profile</span></a>
            </li>
             <li class="dropdown active">
                <a asp-action="Sessions" class="nav-link"><i class="fas fa-sort-numeric-up"></i><span>Session</span></a>
            </li>
           
@*            <li class="dropdown">
                <a asp-action="GetMassagesInChatGroup" class="nav-link"><i class="fas fa-mail-bulk"></i><span>Messages</span></a>
            </li>*@
           @* 
            <li class="dropdown">
              <a asp-action="QuestionDetails" class="nav-link"><i class="fas fa-question-circle"></i><span>Exam Bank</span></a>
            </li>*@
                        
            <li class="dropdown">
              <a asp-action="Calender" class="nav-link"><i class="fas fa-question-circle"></i><span>Calender</span></a>
            </li>
                        
            <li class="dropdown">
              <a asp-action="ToDoList" class="nav-link"><i class="fas fa-question-circle"></i><span>To Do List</span></a>
            </li>
            
            <li class="dropdown">
              <a asp-action="Logout" class="nav-link"><i class="fas fa-sign-out-alt"></i><span>Logout</span></a>
            </li>
           
          </ul>
        </aside>
      </div>
      <!-- Main Content -->
      <div class="main-content">
             @RenderBody()  
      </div>
    </div>
  </div>
      </div>
      <footer class="main-footer">
        <div class="footer-left">
          <a href="templateshub.net">Templateshub</a></a>
        </div>
        <div class="footer-right">
        </div>
      </footer>
    </div>
  </div>
  <!-- General JS Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/Dashassets/js/app.min.js"></script>
  <!-- JS Libraies -->
  <!-- Page Specific JS File -->
  <!-- Template JS File -->
  <script src="~/Dashassets/js/scripts.js"></script>
  <!-- Custom JS File -->
  <script src="~/Dashassets/js/custom.js"></script>
    <!-- JS Libraies -->
  <script src="~/Dashassets/bundles/fullcalendar/fullcalendar.min.js"></script>
  <!-- Page Specific JS File -->
  <script src="~/Dashassets/js/page/calendar.js"></script>
</body>
<!-- blog.html  21 Nov 2019 03:50:52 GMT -->
</html>