@model IEnumerable<EduPortal.Models.ExamMarksGrid>; 
@{
     Layout = "_LayoutAdmin";
}
<div class="loader"></div>


<!-- Example single danger button -->
<br />
<br />
<section class="section">
    <div class="section-body">
        <div class="row">

            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        Exam Content
                     </div>
@*                      <div class="col-sm-12">
                        <h2 style="display:inline-block;">Appointment <b>Management</b></h2>
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                     data-target=".bd-example-modal-lg" style="float:right;">Add new appointment</button>
                    </div>*@
                    <div class="card-body p-0">
                        <div  id="tab" class="table-responsive">
                            <table class="table table-striped table-md">
                                <tr>
                                    <th>Id</th>
                                    <th>Student Name</th>
                                    <th>Submited At</th>
                                    <th>Mark</th>
                                 
                                </tr>
                                @foreach (var record in Model)
                                {
                                    <tr>
                                        
                                        <td>@record.StudentTakeExam.StudentTakeExamId</td>
                                        <td>@record.Student.FullName</td>
                                        <td>@record.StudentTakeExam.EndExamAt</td>
                                        <td>@record.StudentTakeExam.ActualMark</td>
                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
<!-- Large modal -->
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="myLargeModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Content goes here....
              </div>
            </div>
          </div>
        </div>