
@{
         Layout = "_LayoutAdmin";
          var id = ViewBag.Id;
}
<div class="row">
 <div class="col-12 col-md-12 col-lg-12">
  <div class="card">
     <div class="padding-20">
             <form action="InsertQuestionMuiltable" method="post" enctype="multipart/form-data">
                  <div class="card-body">
                      <input type="text" hidden name="examid" value="@id" class="form-control">
                    <div class="form-group row mb-4">
                      <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Image / Screen Shot</label>
                       
                        <div class="col-sm-12 col-md-12">
                        <input type="file" name="file" class="form-control" required>
                      </div>
                      
                    </div>
                   <div class="form-group row mb-4">
                      <label class="col-form-label text-md-right col-12 col-md-12 col-lg-12">Title / Question Text </label>
                       
                        <div class="col-sm-12 col-md-12">
                        <input type="text" name="title" class="form-control" required>
                      </div>
                      
                    </div>    
                    

                      <div class="form-group row mb-4">
                      <label class="col-form-label text-md-right col-12 col-md-12 col-lg-12">Title / Question Text </label>
                       
                        <div class="col-sm-12 col-md-12">
                        <input type="text" name="title" class="form-control" required>
                      </div>
                      
                    </div>    

                      <div class="form-group row mb-4">
                      <label class="col-form-label text-md-right col-12 col-md-12 col-lg-12">Correct Answer </label>
                       
                        <div class="col-sm-12 col-md-12">
                        <input type="text" name="option1" class="form-control" required>
                      </div>
                      
                    </div>    


                      <div class="form-group row mb-4">
                      <label class="col-form-label text-md-right col-12 col-md-12 col-lg-12">First Suggested Answer  </label>
                       
                        <div class="col-sm-12 col-md-12">
                        <input type="text" name="option2" class="form-control" required>
                      </div>
                      
                    </div>    

                      <div class="form-group row mb-4">
                      <label class="col-form-label text-md-right col-12 col-md-12 col-lg-12">Second Suggested Answer </label>
                       
                        <div class="col-sm-12 col-md-12">
                        <input type="text" name="option3" class="form-control" required>
                      </div>
                      
                    </div>    

                     <div class="form-group row mb-4">
                      <label class="col-form-label text-md-right col-12 col-md-12 col-lg-12">Third Suggested Answer </label>
                       
                        <div class="col-sm-12 col-md-12">
                        <input type="text" name="option3" class="form-control" required>
                      </div>
                      
                    </div>    
                   


                    
                      <div class="col-sm-12 col-md-12" style="margin-left:190px;">
                        <button class="col-8 btn btn-primary" type="submit">Save Question</button>
                      </div>
                    
                    </form>
      </div>
    </div>
   </div>           
 </div>