
@{
         Layout = "_LayoutAdmin";
          var id = ViewBag.Id;
}
<div class="row">
              <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                  <div class="padding-20">
                    <ul class="nav nav-tabs" id="myTab2" role="tablist">
                         <li class="nav-item">
                        <a class="nav-link" id="profile-tab2" data-toggle="tab" href="#Writable" role="tab"
                          aria-selected="false">Writable Question</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" id="home-tab2" data-toggle="tab" href="#Multi" role="tab"
                          aria-selected="true">Multiple Choice Question</a>
                      </li>
                     
                      
                    </ul>
                    <div class="tab-content tab-bordered" id="myTab3Content">
                      <div class="tab-pane fade show" id="Multi" role="tabpanel" aria-labelledby="home-tab2">
                            


                           <form action="InsertQuestionWritable" method="post" enctype="multipart/form-data">
                  <div class="card-body">
                      <input type="text" hidden name="examid" value="@id" class="form-control">
                    <div class="form-group row mb-4">
                      <label class="col-form-label text-md-right col-12 col-md-12 col-lg-12">Image / Screen Shot</label>
                       
                        <div class="col-sm-12 col-md-12">
                        <input type="file" name="file" class="form-control">
                      </div>
                      
                    </div>
                   <div class="form-group row mb-4">
                      <label class="col-form-label text-md-right col-12 col-md-12 col-lg-12">Title / Question Text </label>
                       
                        <div class="col-sm-12 col-md-12">
                        <input type="text" name="title" class="form-control" required>
                      </div>
                      
                    </div>          
                    <div class="form-group row mb-4">
                      <label class="col-form-label text-md-right col-12 col-md-12 col-lg-12">Select Type Of Editor</label>
                       
                        <div class="col-sm-12 col-md-12">
                         
                      </div>
                      <div class="form-group">
                      <label>Select Editor Type</label>
                       <select name="typeId">
                              <option value="2">Regular Editor</option>
                              <option value="4">Code Editor</option>
                          </select>
                    </div>
                      
                    </div>


                    
                      <div class="col-sm-12 col-md-12" style="margin-left:190px;">
                        <button class="col-8 btn btn-primary" type="submit">Save Question</button>
                      </div>
                    
                    </form>
                         



                      </div>


























                      <div class="tab-pane fade" id="Writable" role="tabpanel" aria-labelledby="profile-tab2">
                                     
                 <form action="InsertQuestionWritable" method="post" enctype="multipart/form-data">
                  <div class="card-body">
                      <input type="text" hidden name="examid" value="@id" class="form-control">
                    <div class="form-group row mb-4">
                      <label class="col-form-label text-md-right col-12 col-md-12 col-lg-12">Image / Screen Shot</label>
                       
                        <div class="col-sm-12 col-md-12">
                        <input type="file" name="file" class="form-control">
                      </div>
                      
                    </div>
                   <div class="form-group row mb-4">
                      <label class="col-form-label text-md-right col-12 col-md-12 col-lg-12">Title / Question Text </label>
                       
                        <div class="col-sm-12 col-md-12">
                        <input type="text" name="title" class="form-control" required>
                      </div>
                      
                    </div>          
                    <div class="form-group row mb-4">
                      <label class="col-form-label text-md-right col-12 col-md-12 col-lg-12">Select Type Of Editor</label>
                       
                        <div class="col-sm-12 col-md-12">
                         
                      </div>
                      <div class="form-group">
                      <label>Select Editor Type</label>
                       <select name="typeId">
                              <option value="2">Regular Editor</option>
                              <option value="4">Code Editor</option>
                          </select>
                    </div>
                      
                    </div>


                    
                      <div class="col-sm-12 col-md-12" style="margin-left:190px;">
                        <button class="col-8 btn btn-primary" type="submit">Save Question</button>
                      </div>
                    
                    </form>
                      </div>

                      
                    </div>
                  </div>
                </div>
   </div>           
 </div>