@model IEnumerable<EduPortal.Models.QuestionGrid>; 
@{
    Layout = "_LayoutAdmin";
    var id = ViewBag.Id;
}
<div class="loader"></div>


<!-- Example single danger button -->
<br />
<br />
<section class="section">
    <div class="section-body">
        <div class="row">

            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        Exam Content
                     </div>
                      <div class="col-sm-12">
                        <h2 style="display:inline-block;">Exam Content <b>Management</b></h2>
                        <a asp-action="InsertQuestion" asp-route-id="@id" class="btn btn-primary" 
                                      style="float:right;">Add new Quesion</a>
                    </div>
                    <div class="card-body p-0">
                        <div  id="tab" class="table-responsive">
                            <table class="table table-striped table-md">
                                <tr>
                                    <th>Id</th>
                                    <th>Question Type</th>
                                    <th>Question Title</th>
                                 
                                </tr>
                                @foreach (var record in Model)
                                {
                                    <tr>
                                        
                                        <td>@record.Question.QuestionId</td>
                                        <td>@record.QuestionType.Type</td>
                                        <td>@record.Question.Text</td>

                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
<!-- Large modal -->