@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     Layout = "_LayoutAdmin";
}
  <div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      <!-- Main Content -->
 
        <section class="section">
          <div class="section-body">
            <div class="row">
              <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                <article class="article">
                  <div class="article-header">
                    <div class="article-image" data-background="assets/img/blog/img08.png">
                    </div>
                    <div class="article-title">
                      <h2><a href="#">The oddest place you will find photo studios</a></h2>
                    </div>
                  </div>
                  <div class="article-details">
                    <p>A don't spirit gathered two under, lights said. May Multiply seasons you'll spirit tree morning
                      hath first signs. </p>
                    <div class="article-cta">
                      <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                  </div>
                </article>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                <article class="article">
                  <div class="article-header">
                    <div class="article-image" data-background="assets/img/blog/img04.png">
                    </div>
                    <div class="article-title">
                      <h2><a href="#">The oddest place you will find photo studios</a></h2>
                    </div>
                  </div>
                  <div class="article-details">
                    <p>A don't spirit gathered two under, lights said. May Multiply seasons you'll spirit tree morning
                      hath first signs.</p>
                    <div class="article-cta">
                      <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                  </div>
                </article>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                <article class="article">
                  <div class="article-header">
                    <div class="article-image" data-background="assets/img/blog/img09.png">
                    </div>
                    <div class="article-title">
                      <h2><a href="#">The oddest place you will find photo studios</a></h2>
                    </div>
                  </div>
                  <div class="article-details">
                    <p>A don't spirit gathered two under, lights said. May Multiply seasons you'll spirit tree morning
                      hath first signs.</p>
                    <div class="article-cta">
                      <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                  </div>
                </article>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                <article class="article">
                  <div class="article-header">
                    <div class="article-image" data-background="assets/img/blog/img12.png">
                    </div>
                    <div class="article-title">
                      <h2><a href="#">The oddest place you will find photo studios</a></h2>
                    </div>
                  </div>
                  <div class="article-details">
                    <p>A don't spirit gathered two under, lights said. May Multiply seasons you'll spirit tree morning
                      hath first signs.</p>
                    <div class="article-cta">
                      <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                  </div>
                </article>
              </div>
            </div>

          </div>
        </section>
       
      </div>
      
 </div>