
@{
    Layout = "_LayoutStudent";
}
                  
<div class="row">
  <div class="page-content page-container" id="page-content">
    <div class="padding2">
        <div class="row container d-flex justify-content-center">
        <div class="col-md-12">
            <div class="card2 card-bordered2">
              <div class="card-header2">
                <h4 class="card-title2"><strong>Chat</strong></h4>
                <a class="btn2 btn-xs btn-secondary2" href="#" data-abc="true">Let's Chat App</a>
              </div>


              <div class="ps-container2 ps-theme-default2 ps-active-y2" id="chat-content" style="overflow-y: scroll !important; height:800px !important; width:1000px; display:flex; flex-direction:column; padding:90px;">
               
                  

             @*     @foreach (var item in chats)
                 {
                   @if(@item.Message.IsSendByTeacher==true){*@
                  
                     
                   
                  <div class="media2 media-chat2">
                  <img class="avatar2" width=40 height=40 src="https://media.istockphoto.com/vectors/blue-cute-robot-vector-id1191411980?k=20&m=1191411980&s=612x612&w=0&h=RwynZNA7Gf-VO3W8cuhI1s9bsKbZ1QZ89rKNrfSJCMA=" alt="...">
                  <div class="media-body2">
                   <span class="badge badge-secondary">Edu Portal Chat Boot</span>
                    <p>Hello How Can I Help You select on the Following </p>

                      <p>How Can I Reset Password</p>
                         <p>How Calnder It's Work</p>
                           <p>What The Mening Of Colors in Calender</p>
                             <p>Could I Have Chat with Adminstraitor</p>
                  
                  </div>
                  </div>
                 @* }else{
*@
                  
                <div class="media2 media-chat2 media-chat-reverse2">
                  <div class="media-body2">
                   <span class="badge badge-light" style="float:right">My Name</span>
                    <p>You Need just select one of the above option</p>
                 
                   
                  </div>
                </div>
                @*
                  }
                 }
             *@

         


                


               

             
                           </div>
                       </div>
                     </div>
                </div>
            </div>
      </div>
</div>