@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     Layout = "_LayoutStudent";
}
                <div class="card">
                  <div class="card-header">
                    <h4>Horizontal Form</h4>
                  </div>
                  <div class="card-body">
                    <div class="form-group row">
                      <label for="inputEmail3" class="col-sm-3 col-form-label">Email</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputEmail3" placeholder="Email" readonly>
                      </div>
                    </div>
                   
                    <fieldset class="form-group">
                      <div class="row">
                        <div class="col-form-label col-sm-3 pt-0">Answers</div>
                        <div class="col-sm-9">
                          <div class="form-check">
                            <div class="custom-control custom-radio">
                              <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                              <label class="custom-control-label" for="customRadio1">First Radio</label>
                            </div>
                            <div class="custom-control custom-radio">
                              <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                              <label class="custom-control-label" for="customRadio2">Second Radio</label>
                            </div>
                            <div class="custom-control custom-radio">
                              <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                              <label class="custom-control-label" for="customRadio3">Second Radio</label>
                            </div>
                            <div class="custom-control custom-radio">
                              <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input">
                              <label class="custom-control-label" for="customRadio4">Second Radio</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                   
                  </div>
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Next Question</button>
                  </div>
                </div>